<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品情報登録</title>
</head>
<body>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<script type="text/javascript" th:src="@{/js/itemList.js}"></script>
<div class="container-fluid">
    <div th:replace="~{common/guideMessage::guideMessage}"></div>
</div>
<h2 class="mt-3">商品情報登録</h2>
<form th:action="@{/itemEdit}" method="post" th:object="${itemAddForm}">
    <div class="mt-1">
        <table>
            <tr>
                <td><label>商品名称：</label></td>
                <td>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control" th:field="*{itemName}">
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td><label>入荷担当者：</label></td>
                <td>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control" th:field="*{arrivalStaff}">
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td><label>単価：</label></td>
                <td>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control" th:field="*{price}">
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td><label>入荷日：</label></td>
                <td>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control" th:field="*{arrivalDate}">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="mt-3 d-flex gap-3">
            <input type="submit" class="btn btn-primary" name="add" value="登録">
            <a class="btn btn-info" th:href="@{/itemList}">キャンセル</a>
        </div>
    </div>
</form>

</div>

</body>
</html>