<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
</head>
<body>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<script type="text/javascript" th:src="@{/js/itemList.js}"></script>
<div class="container-fluid">
<div th:insert="~{common/guideMessage::guideMessage}"></div>
    <h2 class="mt-3">商品一覧</h2>
    <div class="mt-3">
        <span>＜絞り込み検索条件＞</span>
    </div>
    <form th:action="@{/itemList}" method="post" th:object="${itemListForm}">
        <div class="mt-1">
            <table>
                <tr>
                    <td><span>商品名：</span></td>
                    <td>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <input type="text" class="form-control" th:field="*{itemName}">
                            </div>
                            <div class="col-auto">
                                <span class="form-text">※部分一致</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span>入荷担当者：</span></td>
                    <td>
                        <select class="form-select" th:field="*{arrivalStaff}">
                            <option value="">指定なし</option>
                            <option th:each="userIdOption : ${userIdOptions}"
                                    th:value="${userIdOption.userId}" th:text="${userIdOption.userName}"></option>
                        </select>
                    </td>
                </tr>

            </table>
            <input type="submit" class="btn btn-primary mt-3" name="search" value="検索">
        </div>

        <div class="mt-3">
            <!-- itemList が空でない場合：商品一覧を表示 -->
            <div th:if="${itemList != null and #lists.size(itemList) > 0}">
                <table class="table table-striped" id="itemList">
                    <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名</th>
                        <th>価格</th>
                        <th>入荷日</th>
                        <th>入荷担当者</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${itemList}">
                        <td th:text="${item.itemId}"></td>
                        <td th:text="${item.itemName}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.arrivalDate}"></td>
                        <td th:text="${item.arrivalStaff}"></td>
                    </tr>
                    </tbody>
                </table>
                <input type="text" th:field="*{selectedItemId}" hidden>
                <input type="submit" class="btn btn-secondary" id="editBtn" name="edit" value="編集" disabled>
                <input type="button" class="btn btn-danger" id="deleteDummyBtn" data-bs-toggle="modal" data-bs-target="#deleteConfirm" value="削除" disabled>
                <input type="submit" id="deleteBtn" name="delete" hidden>
            </div>

        <th:block th:if="${#lists.isEmpty(itemList)}">
            <div class="text-center">
                <span>※対象の商品は存在しません。</span>
            </div>
        </th:block>

            <div class="mt-3">
                <a th:href="@{/menu}">▶トップメニューへ戻る</a>
            </div>
    </form>
</div>

<!-- 削除確認モーダルの設定 -->
<div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">削除前確認</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                本当に削除してもよろしいですか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" id="deleteOkBtn">削除する</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>