<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>
<body>
<a th:href="@{/signup}">ユーザー登録</a>
<div class="container-fluid">
    <h2>ログイン画面</h2>
    <span th:text="${errorMsg}"> </span>
    <form th:action="@{/login}" method="post" th:object="${loginForm}">
        <div class="form-group">
            <div class="col-1">
                <p>
                    <lable for="loginId">ログインID</lable>
                </p>
                <input class="form-control" type="text" th:field="*{loginId}">
            </div>
            <div class="col-1">
                <p>
                    <lable for="password">パスワード</lable>
                </p>
                <input class="form-control" type="password" th:field="*{password}">
            </div>
            <p><input class="btn btn-primary" type="submit" value="ログイン"></p>
        </div>
    </form>
    <a th:href="@{/signup}">▶ユーザー登録こちら</a>
</div>
</body>
</html>