<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録画面</title>
</head>
<body>
<div th:insert="~{common/sourceList::sourceList}"></div>
<div th:replace="~{common/messageIcon::messageIcon}"></div>
<div class="container-fluid">
<h2>ユーザー登録画面</h2>
    <div class="alert d-flex align-items-center" th:classappend="|${isError?'alert-danger':'alert-primary'}|"role="alert" th:if="${message!=null}">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
            <use xlink:href="#info-fill" th:unless="${isError}"/>
            <use xlink:href="#exclamation-triangle-fill" th:if="${isError}"/>
        </svg>
        <span th:text="${message}"> </span>
    </div>

<form th:action="@{/signup}" method="post" th:object="${signupForm}">
    <div class="form-group">
        <div class="col-3 col-md-2 col-xxl-1">
            <p>
                <label for="loginId">ログインID</label>
            </p>
            <input class="form-control" type="text"  id="loginId" name="loginId" th:field="*{loginId}">
        </div>
        <span class="text-danger" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></span>
        <div class="col-3 col-md-2 col-xxl-1">
            <p>
                <label for="password">パスワード</label>
            </p>
            <input class="form-control" type="password"  id="password" name="password" th:field="*{password}">
        </div>
        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <p><input class="btn btn-primary" type="submit" value="ユーザー登録"></p>
    </div>
</form>
</div>
</body>
</html>